#1)  Explain the key features of Python that make it a popular choice of programming.
## There are so many unique features of Pythonthat makes it perfect choice for programming. Such as;

### 1) Widely used in data industry:- Due to Python's dynamic nature, its approachis vast and universal.
2) Easy to code:- Python is very used to learn as compared to other programming languages. Anyone can learn Python in a very short span of time and code. It is very developer friendly.

3) Simple syntax:- Python syntax is really simple and straight forward, which is very user friendly.

4) Vast number of liberaries in Python:- There is a very large numbe of liberaries available in Python. The total number of python are more than 137000 liberaries.

5)Automation:- Python's simplicity makes it ideal language for automating repititive tasks.

6)Huge active community:- Python has a huge and active community, which makes it easy to find support.

7)Versatility:- Python supports multiple programming paradigms, including procedural, object-oriented and functionalprogramming.

8)Interpreted language:- Python i interpreted language, which means code is executed line by line, allowing for quick testing and debugging.







#2)  Describe the role of predefined keywords in python and provide examples of how they used in a program?

## In python predefined keywords are reserved words that have special meanings and cannot be used as identifiers (such as variable names, function names). These keywords are part of the python syntax and define the structure and flow of python programs. There are currently 36 predefined keywords in python including words like if, else, while, for etc.
some characterstics of predefined keywords are:-
1) Reserved:- keywords cannot used for any other purpose than their intended one.
 2) case-sensitive:- all keywords are lowercase with some exceptions.
 3)Syntax defining:- They help define control structures, functions, classes, and exceptions.
 Examples of python keywords are:=

 # if-else :

In [5]:
x =10
if x>5:
  print ("x is greater than 5")
else:
    print ("x is less than or equal to 5")

x is greater than 5

## for :

In [6]:
numbers = [1,2,3,4,5]
for number in numbers:
  print (number)

1
2
3
4
5

## true, false, none:

In [7]:
a= True
b= False
c= None
print(a,b,c)

True False None

## and, or, not

In [9]:
x= True
y= False
print (x and y)
print (x or y)
print (not x)

False
True
False

##  while:

In [11]:
n= 5
i=1
while i<n:
  print (i)
  i=i+1

1
2
3
4











# 3) comapare and contras mutable and immutable objects in python with example.

### Mutable Objects:- In python programming language, whenever an object is susceptible to internal change or the ability to change its values is known as a mutable object. Mutable objects in python are generally changed after creation.
for mutable objects in python, their values can be changed but the identity of the object remains intact. The objects in python which are mutable are;
lists
dicts
sets
user-defined classes
dictionaries

##example of mutable objects:- lists

In [18]:
my_list = [1,2,3,4,5]
my_list.append (6)
print("After appending 6:",my_list)
my_list[1] = 100
print ("After changing second element:", my_list)

After appending 6: [1, 2, 3, 4, 5, 6]
After changing second element: [1, 100, 3, 4, 5, 6]

## Immutable objects:- The objects in python are not susceptible to the internal changeare known as the immutable objects. They cannot be modified once they are created. For example int in python is immutable hence they cannot be modified once created.
objects in python which are immutable are;
int,
float,
bool,
string,
unicode,
tuple,
numbers,
user-defined classes

## examples of immutable objects in python:-
tuple










#4) Discusss the different operators in Python and provide examples of how they are used?


## Python supports a variety of operators that allow user to perform different operations on variables and values. Some main type of operators are:=
### 1) Arithmatic operators:- Arithmatic operators are used to perform mathematical operations. As;
+ addition,
- substraction,
* multiplication,
/ division,
// floor division,
% modulus(remainder),
** exponentiation,
##example:

In [19]:
a=5
b=3
print(a+b)
print(a*b)

8
15

### 2) Comparision operators:= comparision operators are used to compare two values. They return either True or False. As:
== equal to,
!= not equal to,
> greater than,
> less than,
>= greater than or equal,
<= less than or equal

## example:

In [20]:
a=5
b=3
print(a>b)

True

### 3) Logical operators:= Logical operators used to combine conditional statements.as;
and; Logical AND (True and False= False),
or; Logical OR (True or False= False),
not; Logical NOT (not True= False)

## example;

In [21]:
a=True
b=False
print(a and b)
print(a or b)

False
True

### 4) Assignment operators:= Assignment operators used to assign values to variables. As;
= assign,
+= add and assign,
-= substract and assign,
*= multiply and assign,
/= divide and assign,
//= floor divide and assign,
%= modulus and assign,
**= exponent and design

## example;

In [22]:
x=10
x+=5
print(x)

15

## 5)Bitwise operators:= Bitwise operators operate on bits and perform bit-by-bit operations.As;
& Bitwise AND,
' Bitwise OR,
^ Bitwise XOR,
~ Bitwise NOT,
<< Left shift,
>> Right shift

## example;

In [23]:
a=5
b=3
print(a&b)

1

## 6) Identity operators:= Identity operators used to compare the memory locations of two objects. As;
is- returns True if both variables point to the same object.

is not- returns True if both variables point to different objects.

## Example;

In [24]:
x=[1,2,3]
y=x
print(x is y)
z=[1,2,3]
print(x is z)

True
False

## 7) Membership operators:= Membership operators used to test if a sequence contains a value. As;
in- returns True if a value is found in a sequence.

not in- returns True if a value is not found in a sequence.

## Example;

In [25]:
a="Hello"
print('H' in a)
print('z' not in a)

True
True










#5) Explain the concept of type casting in python with examples.
## Type casting also known as type conversion in python is the process of converting a variable from one data type to another. Python provides two types of type casting:
### 1) IMPLICIT TYPECASTING:= The Python interpreter automatically converts one data type to another without the user's intervention.
Example;

In [26]:
num_int= 10
num_float= 3.5
result= num_int + num_float
print(result)
print(type(result))

13.5
<class 'float'>

###EXPLICIT TYPE CASTING:= The user manually converts one data type into another using built-in function. As;
int(): converts a value into an integer.

float(): converts a value to a float.

str(): converts a value to a string.

lists(): converts a value to a list.

tuple(): converts a value to a tuple.

 Example;

In [29]:
num_str= 100
num_int= int(num_str)
print(num_int)
print(type(num_str))

100
<class 'int'>

In [33]:
my_list= [1,2,3]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>










#6) How do conditional statements works in python?

## In python, conditional statements allow user to execute code based on specific conditions.These statements are primarily controlled by the if, else, elif keywords.
### 1) if statement:= This is used to test a condition is true, the indented code back is executed.

In [34]:
age=20
if age>=18:
  print("you are an adult")

you are an adult

2) if-else statement:= The else block is executed when the if condition is true.

In [36]:
age=15
if age >= 18:
  print("you are an adult.")
else:
  print("you are a minor.")

you are a minor.

### 3) if-elif-else statement:- This allows user to check multiple conditions. once a condition is true, the corrospondingcode is executed, and the rest is skipped.

In [37]:
marks=75
if marks>= 90:
  print("Grade A")
elif marks>=75:
  print("Grade B")
elif marks>=60:
  print("Grade C")
else:
  print("Grade D")

Grade B

### 4) Nested if statement:= User can nest if statement inside other if statements to handle more complex conditions.

In [46]:
age= 20
has_id =True
if age >=18:
  if has_id:
    print("You can enter the club.")
else:
  print("ID is required.")
  if age < 18:
    print("You are too young to enter.")

You can enter the club.










#7) Describe the different types of loops in Python and their use cases with examples.
## In Python, there are two primarytypes of loops. Each has its own use cases depending on the situation.

### 1) for loop:- A for loop is used for iterating over a sequence (like a list, tuple, dictionary, set, or string). It is generally used when the number of iterationis known beforehand.
Example;

In [48]:
fruits= ["apple", "banana", "cherry"]
for fruit in fruits:
  print (fruit)

apple
banana
cherry

In [49]:
for i in range (5):
  print(i)

0
1
2
3
4

2) while loop:- A while loop is used when user want to repeat a block of code as long as a condition is true. This is typically used when the number of iterations is not known in advance.

Example;

In [50]:
count=5
while count>0:
  print(count)
  count-= 1

5
4
3
2
1

3) break statement in loops:- The break statement is used toexit a loop prematurly.

Example;

In [55]:
for i in range(10):
  if i==8:
    break
  print(i)

0
1
2
3
4
5
6
7

4) continue statement in loop:- The continue statement skips the rest of the current iteration and moves to the rest one.

Example;

In [59]:
for i in range(10):
  if i == 2:
    continue
  print(i)

0
1
3
4
5
6
7
8
9

5)  else clause in loops:- The continue statement skips the rest of the current iteration and moves to the next one.

Example;

In [60]:
for i in range (5):
  print(i)
else:
  print("loop completed")

0
1
2
3
4
loop completed

6) Nested loops:- You can have loops inside loops( both for and while). These are known as nested loops.

Example;

In [62]:
for i in range(3):
    for j in range (2):
       print (f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1